header, footer{
    background-color: aqua;
    color: gold;
    padding: 20px;
    text-align: center;
}
aside {
    padding-top: 10px;
    font-weight: bold;
}
.title {
    color: blue;
}
#orderedlist{
    color: green;
}